p,
h2 {
  margin: 10px 7% 5px 7%;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
nav {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.logo {
  flex: 1;
}

.logo img {
  width: 170px;
  cursor: pointer;
}

button {
  padding: 15px 40px;
  border: 0;
  outline: none;
  border-radius: 25px;
  background: #333;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.menu-icon {
  width: 50px;
  margin-left: 30px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rbga(0, 0, 0, 0.2);
  cursor: pointer;
}
